
@{
    ViewBag.Title = "MusteriEkle";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<form class="form-group" method="post">
    <div>


        <label>Müşteri Adı</label>
        <input class="form-control" name="musteriAd" />
        <label>Müşteri Soyadı</label>
        <input class="form-control" name="musteriSoyad" />
    </div>
    <div>
        <button class="btn btn-info">Yeni Müşteri</button>
    </div>


</form>

